# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml

# IntelliJ
.idea/

# Android
android/.gradle/
android/local.properties
android/app/google-services.json
android/key.properties

# iOS
ios/Pods/
ios/.symlinks/
ios/Runner.xcworkspace/xcshareddata/
ios/GoogleService-Info.plist

# macOS
macos/Pods/

# Secrets / keys
*.keystore
*.jks

# Misc
.DS_Store
Thumbs.db
